<h1>Appointments</h1>
<div>
  Doctor: <%= link_to @appt.doctor.name, doctor_path(@appt.doctor) %><br>
  Patient: <%= link_to @appt.patient.name, patient_path(@appt.patient) %><br>
  Date/Time: <%= @appt.readable_date %><br>
</div>